// --------------------------------------------------
// Avatar
// --------------------------------------------------
  
.avatar
	display block 
	max-width ($screen-xs / 3)
	margin-left auto
	margin-right auto
	width 100% 


