// --------------------------------------------------
// Avatar
// --------------------------------------------------
  
.avatar
	display block 
	max-height $avatar-height
	margin-left auto
	margin-right auto 


