// --------------------------------------------------
// Translator
// --------------------------------------------------
  
.translator
  +above('sm')
    align-items stretch
    lost-flex-container row 

  &__text 
    border 0
    box-shadow 0px 1px 3px 1px rgba($gray, .2)
    font-size 2.4rem
    lost-column 6/12 0 0
    min-height 'calc(50vh - %s)' % ($footer-height + $avatar-height)
    resize none
    padding $space
    overflow-y auto

    &[disabled]
      background $gray-white 

    &:not(:last-child)
      border-right $gray-lighter solid 1px
 