doctype html
html
  head
    title Tradutor Politico
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Traduzindo linguajar politico para vocabulário das ruas')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')  
  body   
    main.main(role='main')    
      .container 
        img.avatar(src='medias/political-avatar.svg' alt='Avatar simulando um politico')
        section.translator
          textarea.translator__text(placeholder='Digitar texto...')
          textarea.translator__text(disabled) Tradução
        section.content
          h1.title Traduzindo linguajar politico para vocabulário das ruas
          p.text 
            | Quer traduzir novas palavras? 
            a(href='https://github.com/LFeh/political-translator' target='_blank' rel='noopener noreferrer') Adiciona aí
            | ... 
    footer.footer(role='dialog') 
      p.footer__description 
        | Feito com ❤ por 
        a.footer__link(href='https://twitter.com/LFeh' target='_blank' rel='noopener noreferrer') Felipe Fialho
