doctype html
html
  head
    title Tradutor Politico
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Traduzindo linguajar politico para vocabulário das ruas')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')  
  body   
    main.main(role='main')   
